<div class="container">

  <div class="jumbotron welcome-banner">
    <h1>Odinbook</h1>
    <p>Welcome to Odinbook!</p>
    <div class="flex justify-center">
      <%= button_to 'Sign in', sign_in_path, class: 'btn btn-primary btn-lg', method: :get %>
      <%= button_to 'Sign up', sign_up_path, class: 'btn btn-primary btn-lg', method: :get %>
    </div>
  </div>

</div>
