<% provide :page, 'Home' %>

<div class="jumbotron">
  <h1 class="display-4">Odinbook</h1>
  <p class="lead">Welcome to Odinbook!</p>
  <p class="lead">
    <div class="d-flex">
      <% unless user_signed_in? %>
        <%= button_to 'Sign up', new_user_registration_path, class: 'btn btn-primary btn-md mr-1', method: :get %>
        <%= button_to 'Sign in', new_user_session_path, class: 'btn btn-secondary btn-md mx-1', method: :get %>
      <% end %>
    </div>
  </p>
</div>

<h3>Feed</h3>
<%= render @feed %>
