<% provide :page, 'Home' %>

<div class="jumbotron">
  <h1 class="display-4">Odinbook</h1>
  <p class="lead">Welcome to Odinbook!</p>
  <p class="lead">
    <div class="d-flex">
      <% unless user_signed_in? %>
        <%= button_to 'Sign up', new_user_registration_path, class: 'btn btn-primary btn-md mr-1', method: :get %>
        <%= button_to 'Sign in', new_user_session_path, class: 'btn btn-secondary btn-md mx-1', method: :get %>
      <% else %>
        <%= button_to 'Go to feed', posts_path, class: 'btn btn-info btn-md' %>
      <% end %>
    </div>
  </p>
</div>

<% if @feed %>
  <% if @feed.empty? %>
    There are no posts!
  <% else %>
    <%= render @feed %>
  <% end %>
<% end %>
