<div class="container">

  <div class="jumbotron welcome-banner">
    <h1>Odinbook</h1>
    <p>Welcome to Odinbook!</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
  </div>

</div>
