<h1>Users</h1>

<ul class="list-group">
  <% @users.each do |user| %>
    <li class="d-flex justify-content-between list-group-item">
      <%= user.name %>
      <button class="btn btn-sm btn-outline-primary">
        Add friend
      </button>
    </li>
  <% end %>
</ul>
