@import "bootstrap/scss/bootstrap";
@import "font-awesome";

body {
  padding-top: 5rem;
}

.field_with_errors {
  display: inline;
  input {
    @extend .is-invalid;
  }
}

ul, ol, dl {
  margin-bottom: 0;
}

.round-avatar {
  @extend .bg-light;
  background-color: white;
  border-radius: 15%;
}
